<nav class="navbar navbar-expand-lg bg-body-tertiary pl-2 container-fluid sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand text-white">Stock Search</div>
    <button class="navbar-toggler pt-0 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link text-white" aria-current="page" routerLink="/search" routerLinkActive="active">Search</a>
      <a class="nav-link text-white" routerLink="/watchlist" routerLinkActive="active">Watchlist</a>
      <a class="nav-link text-white" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </div>
  </div>
  </div>
</nav>
